
* {
  margin: 0;
  padding: 0;
}

html, body,#app{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 35px;
}

body {
  font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif, iconfont !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

