$color-primary: #D93F37;

.kajie-header {
  background-color: $color-primary;
}
.kajie-tabbar{
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-flow:row nowrap;
}
.kajie-tabbar-item{
  text-align: center;
  flex: 1 1;
  padding-bottom: 10px;
}
.kajie-tabbar-item.is-selected div{
  color: #D93F37;
}
